**/bin/
**/obj/
*.user
.vs/
appsettings.Development.json

frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env.local

.DS_Store
Thumbs.db

.idea/

*.suo
*.user
*.userosscache
*.sln.docstates